body{
    font-family: 'Poppins', sans-serif;
}
.bg-custom{
   background-color: 
   #264653;
}
.btn-custom{
    background-color: #E76F51;
}
.featured-bikes .img{
width: 288px;
height: 243px;
}
.text-clr{
   color:  #E76F51;
}
.gray img{
    filter: grayscale(100%);
}